---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <div class="fixed inset-0 -z-10 w-full h-full
  bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,#1e1e1e,#0a0a0c)]">
</div>
    <Header client:load/>
    <Main />
	  <Footer />
</Layout>
