---
import Card from "./ui/Card.astro";
import Person from "./icons/Person.astro";
---

<section id="about" class="scroll-mt-32">
  <h2
    class="flex flex-row gap-x-2 items-center text-3xl font-bold mb-8 text-[#fafafa]"
  >
    <Person class="h-8 w-8" />
    Sobre Mí
  </h2>

  <Card>
    <div class="flex flex-col-reverse items-center md:flex md:flex-row p-6 text-lg leading-relaxed text-[#f4f4f4]">
      <div class="text-pretty">
        <p class="mb-4">
            Mi nombre es Juan Cuellar, desarrollador web Full-Stack. Actualmente,
            tengo 20 años, vivo en Mocoa, un pequeño pueblo del departamento del
            Putumayo en Colombia, soy tecnólogo en Desarrollo de Software egresado de la
            Institución Universitaria del Putumayo.
        </p>

        <p>
          Me especializo en tecnologías modernas como React, Astro, Next.js y Tailwind
          CSS. También tengo conocimientos en bases de datos SQL, configuración y despliegue de aplicaciones, CI/CD con GitHub Actions y manejo de contenedores con Docker.
        </p>
      </div>

      <img
        width="256"
        height="256"
        class="aspect-square w-64 h-full object-cover rounded-xl ml-0 mb-5 md:ml-7 lg:ml-10 xl:ml-20 md:mb-0"
        aspect-ratio="1 / 1"
        src="/foto-juan-2.webp"
        alt="Fotografia de Juan Cuellar"
        loading="lazy"
      />
    </div>
  </Card>
</section>
