---
import Card from "./ui/Card.astro";
---

<section id="about" class="scroll-mt-32">
  <h2 class="text-3xl font-bold mb-8 text-[#fafafa]">Sobre Mí</h2>

  <Card>
    <div class="p-6 text-lg leading-relaxed text-[#f4f4f4]">
      <p class="mb-4">
        Mi nombre es Juan Cuellar, desarrollador web Front-End. Actualmente,
        tengo 19 años, vivo en Mocoa, un pequeño pueblo del departamento del
        Putumayo en Colombia, y estoy estudiando Desarrollo de Software en el
        Instituto Tecnológico del Putumayo.
      </p>

      <p>
        Me especializo en tecnologías modernas como React, Astro y Tailwind CSS.
        Y busco aumentar mi conocimiento constantemente aprendiendo cosas nuevas
        todos los días.
      </p>
    </div>
  </Card>
</section>
