---
import Card from "./ui/Card.astro";
---

<section id="about" class="scroll-mt-32">
  <h2 class="text-3xl font-bold mb-8 text-[#fafafa]">Sobre Mí</h2>

  <Card>
    <div class="p-6">
      <p class="text-lg leading-relaxed text-[#f4f4f4]">
        Mi nombre es Juan Cuellar, desarrollador web con más de 4 años de
        experiencia. Actualmente tengo 19 años y estoy estudiando Desarrollo de
        Software en el Instituto Tecnológico del Putumayo. Me especializo en
        tecnologías modernas como React, Astro y Tailwind CSS. Busco aumentar mi
        conocimiento constantemente aprendiendo cosas nuevas todos los días.
      </p>
    </div>
  </Card>
</section>
