---
import CertificatesCard from "./CertificatesCard.astro";
import Certificate from "./icons/Certificate.astro";

const certificates = [
  {
    title: "Fundamentos de Node.js",
    institution: "Platzi",
    link: "/certificates/diploma-nodejs.pdf",
  },
  {
    title: "Programación Web Full Stack",
    institution: "Universidad de Antioquia (UDEA)",
    link: "/certificates/diploma-programacion-web-udea.pdf",
  },
  {
    title: "Curso Profesional de Git y GitHub",
    institution: "Platzi",
    link: "/certificates/diploma-git-github.pdf",
  },
  {
    title: "Fundamentos de Ingeniería de Software",
    institution: "Platzi",
    link: "/certificates/diploma-ingenieria.pdf",
  },
  {
    title: "Programación Básica",
    institution: "Platzi",
    link: "/certificates/diploma-programacion-basica.pdf",
  },
];
---

<section id="certificates" class="scroll-mt-32">
  <h2 class="flex flex-row gap-x-2 items-center text-3xl font-bold mb-8 text-[#fafafa]">
    <Certificate class="h-8 w-8"/>
    Cursos y Certificados
  </h2>

  <div class="grid md:grid-cols-2 gap-6">
    {
      certificates.map((certificate) => {
        const { title, institution, link } = certificate;

        return (
          <div class="flex flex-col gap-4">
            <CertificatesCard
              title={title}
              institution={institution}
              link={link}
            />
          </div>
        );
      })
    }
  </div>
</section>
