---
import Card from "./ui/Card.astro";
import MapPin from "./icons/MapPin.astro";
---

<section id="experience" class="scroll-mt-32">
  <h2 class="text-3xl font-bold mb-8 text-[#fafafa]">Experiencia</h2>

  <div class="grid gap-6">
    <Card>
      <div class="p-6">
        <div class="space-y-4">
          <div>
            <h3 class="text-xl font-semibold text-[#f4f4f4]">JnixSoft</h3>

            <p class="text-[#96969f] flex items-center gap-2">
              <MapPin class="h-4 w-4" />
              Colombia
            </p>
            <time class="text-sm text-[#96969f]">
              Agosto de 2023 - Diciembre de 2024
            </time>
          </div>

          <p class="text-[#96969f]">
            En Jnixsoft, ocupé el puesto de desarrollador Front-end, donde
            contribuí al diseño e implementación de los módulos visuales de una
            aplicación web para la gestión de operaciones de transporte. Utilicé
            HTML, CSS, JavaScript y PHP para desarrollar las interfaces
            mejorando así la experiencia del usuario.
          </p>

          <ul class="list-disc list-inside space-y-2 text-[#e0e0e1]">
            <li>Diseño e implementación de módulos visuales</li>
            <li>Desarrollo de interfaces de usuario responsivas</li>
            <li>Mejora de la experiencia del usuario</li>
          </ul>
        </div>
      </div>
    </Card>
  </div>
</section>
