<header
  class="fixed top-0 left-0 right-0 bg-[#0a0a0c] z-50 border-b border-[#27272a]"
>
  <div
    class="container mx-auto px-4 md:px-12 lg:px-24 py-4 flex justify-between items-center"
  >
    <h1 class="text-2xl font-bold text-[#fafafa]">Juan Cuellar</h1>

    <nav class="hidden md:flex items-center gap-2">
      <button
        id="experience-button"
        class="text-[#fafafa] font-medium hover:text-[#f9f9f9] py-[4px] px-[8px] rounded-md cursor-pointer hover:bg-[#27272a] transition-all"
      >
        Experiencia
      </button>

      <button
        id="projects-button"
        class="text-[#fafafa] font-medium hover:text-[#f9f9f9] py-[4px] px-[8px] rounded-md cursor-pointer hover:bg-[#27272a] transition-all"
      >
        Proyectos
      </button>

      <button
        id="about-button"
        class="text-[#fafafa] font-medium hover:text-[#f9f9f9] py-[4px] px-[8px] rounded-md cursor-pointer hover:bg-[#27272a] transition-all"
      >
        Sobre Mí
      </button>
    </nav>
  </div>
</header>

<script>
  const experienceButton = document.getElementById("experience-button");
  const projectsButton = document.getElementById("projects-button");
  const aboutButton = document.getElementById("about-button");
  const buttons = [experienceButton, projectsButton, aboutButton];
  const sections = ["experience", "projects", "about"];

  buttons.forEach((button, index) => {
    button?.addEventListener("click", () => {
      document.getElementById(sections[index])?.scrollIntoView({
        behavior: "smooth",
      });
    });
  });
</script>
