---
const navItems = [
  { id: "experience-button", text: "Experiencia" },
  { id: "projects-button", text: "Proyectos" },
  { id: "certificates-button", text: "Cursos y Certificados" },
  { id: "about-button", text: "Sobre Mí" },
];
---

<header
  class="fixed top-0 left-0 right-0 bg-[#0a0a0c] z-50 border-b border-[#27272a]"
>
  <div
    class="container mx-auto px-4 md:px-12 lg:px-40 py-4 flex justify-between items-center"
  >
    <button id="hero-button" class="cursor-pointer">
      <h1 class="text-2xl font-bold text-[#fafafa]">Juan Cuellar</h1>
    </button>

    <nav class="hidden md:flex items-center gap-2">

      {
        navItems.map(({ id, text }) => (
          <button
            id={id}
            class="text-[#fafafa] font-medium hover:text-[#fff] py-[4px] px-[8px] rounded-md cursor-pointer hover:bg-[#27272a] transition-all"
          >
            {text}
          </button>
        ))
      }
      
    </nav>
  </div>
</header>

<script>
  const heroButton = document.getElementById("hero-button");
  const experienceButton = document.getElementById("experience-button");
  const projectsButton = document.getElementById("projects-button");
  const certificatesButton = document.getElementById("certificates-button");
  const aboutButton = document.getElementById("about-button");
  const buttons = [heroButton, experienceButton, projectsButton, certificatesButton, aboutButton];
  const sections = ["hero", "experience", "projects", "certificates", "about"];

  buttons.forEach((button, index) => {
    button?.addEventListener("click", () => {
      document.getElementById(sections[index])?.scrollIntoView({
        behavior: "smooth", 
        block: index === 0 ? "center" : "start"
      });
    });
  });
</script>
