---
const navItems = [
  { id: "experience-button", text: "Experiencia" },
  { id: "projects-button", text: "Proyectos" },
  { id: "certificates-button", text: "Cursos y Certificados" },
  { id: "about-button", text: "Sobre Mí" },
];
---

<header
  class="fixed top-0 left-0 right-0 bg-[#111] z-50 border-b border-[#27272a]"
>
  <div
    class="container mx-auto px-4 md:px-12 lg:px-40 py-4 flex justify-between items-center"
  >
    <button id="hero-button" class="cursor-pointer">
      <h1 class="text-2xl font-bold text-[#fafafa]">Juan Cuellar</h1>
    </button>

    <nav class="hidden md:flex items-center gap-2">

      {
        navItems.map(({ id, text }) => (
          <button
            id={id}
            class="text-[#fafafa] font-medium hover:text-[#fff] py-[4px] px-[8px] rounded-md cursor-pointer hover:bg-[#2e2e2e] transition-all"
          >
            {text}
          </button>
        ))
      }
      
    </nav>
  </div>
</header>

<script>
  const buttons = {
    hero: document.getElementById("hero-button"),
    experience: document.getElementById("experience-button"),
    projects: document.getElementById("projects-button"),
    certificates: document.getElementById("certificates-button"),
    about: document.getElementById("about-button"),
  }

  const sections = Object.keys(buttons).map(key => document.getElementById(key));

  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        const id = entry.target.id as keyof typeof buttons;

        Object.values(buttons).forEach(button => {
          button?.classList.remove("bg-[#2e2e2e]");
          button?.classList.remove("text-[#fff]");
        });

        buttons[id]?.classList.add("bg-[#2e2e2e]", "text-[#fff]");
      }
    })
  }, {
    threshold: 0.4,
  })

  sections.slice(1).forEach(section => {
    if (section) observer.observe(section);
  });

  // Scroll al hacer clic en los botones
  Object.entries(buttons).forEach(([sectionId, button]) => {
    button?.addEventListener("click", () => {
      document.getElementById(sectionId)?.scrollIntoView({
        behavior: "smooth",
        block: sectionId === "hero" ? "center" : "start",
      });
    });
  });
</script>
