---
import A from "./ui/A.astro";
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
import Mail from "./icons/Mail.astro";
import Phone from "./icons/Phone.astro";
import CV from "./icons/CV.astro";
---

<section
  id="hero"
  class="flex flex-col-reverse md:flex-row items-center justify-between gap-8 pt-8"
>
  <main class="space-y-4 flex flex-col items-center text-center md:items-start md:text-left">
    <h2
      class="text-4xl w-max font-bold bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500 text-transparent bg-clip-text animate-fade-down animate-once animate-duration-1000"
    >
      Juan Cuellar
    </h2>

    <div class="text-xl text-[#a1a1aa] text-pretty animate-fade-up animate-once animate-duration-1000">
      <p>Especializado en el Desarrollo Web Full-Stack</p>
      <p>Desarrollador Junior de Mocoa, Putumayo, Colombia</p>
    </div>

    <div class="flex gap-4 justify-center md:justify-start flex-wrap">
      <A
        href="https://github.com/juanjk24"
        target="_blank"
        rel="noopener noreferrer"
        animation="animate-fade-up animate-once animate-duration-1000 animate-delay-400"
        title="Visitar perfil de GitHub"
      >
        <Github class="h-5 w-5" />
        <span class="sr-only">GitHub</span>
      </A>

      <A
        href="https://linkedin.com/in/juan-esteban-cuellar-coral-71b2b0338"
        target="_blank"
        rel="noopener noreferrer"
        animation="animate-fade-up animate-once animate-duration-1000 animate-delay-500"
        title="Visitar perfil de LinkedIn"
      >
        <Linkedin class="h-5 w-5" />
        <span class="sr-only">LinkedIn</span>
      </A>

      <A
        href="mailto:juanjkuellar24@gmail.com"
        animation="animate-fade-up animate-once animate-duration-1000 animate-delay-600"
        title="Enviar un correo a Juan Cuellar"
      >
        <Mail class="h-5 w-5" />
        <span class="sr-only">Email</span>
      </A>

      <A
        href="https://wa.me/573204860520"
        target="_blank"
        rel="noopener noreferrer"
        animation="animate-fade-up animate-once animate-duration-1000 animate-delay-700"
        title="Enviar un mensaje por WhatsApp a Juan Cuellar"
      >
        <Phone class="h-5 w-5" />
        <span class="sr-only">WhatsApp</span>
      </A>

      <A
        href="/cv_juan_cuellar.pdf"
        target="_blank"
        rel="noopener noreferrer"
        animation="animate-fade-up animate-once animate-duration-1000 animate-delay-700"
        title="Descargar CV de Juan Cuellar"
      >
        <CV class="h-5 w-5" />
        <span class="sr-only">CV</span>
      </A>
    </div>
  </main>

  <div
    class="relative w-48 h-48 md:w-64 md:h-64 rounded-full overflow-hidden border-4 border-[#fafafa]"
  >
    <img 
      src="/foto-juan.webp" 
      alt="Fotografia de Juan Cuellar"
      class="relative -top-6"
      loading="eager"
      width="433"
      height="433"
    />
  </div>
</section>
